# ========================
# Python bytecode and cache
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ========================
# Virtual environment
# ========================
venv/
.env/
.envrc
.venv/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# DVC
# ========================
# Ignore all CSVs except their tracking files
*.csv
*.CSV 
*.txt
!*.txt.dvc
!*.csv.dvc

# Track DVC metadata and config
!.dvcignore
!.dvc/
!.dvc/config
!.dvc/config.local
!dvc.yaml
!dvc.lock

# Un-ignore data folders (so .dvc files in them are tracked)
!data/
!data/**/*.dvc

# ========================
# Logs and temporary files
# ========================
*.log
*.tmp
*.bak
.DS_Store
*.swp
*.swo

# ========================
# Testing
# ========================
htmlcov/
.tox/
.pytest_cache/
.coverage
coverage.xml

# ========================
# VSCode & IDE settings
# ========================
.vscode/
.idea/

# ========================
# GitHub Actions
# ========================
# Leave workflows visible
